:host {
  display: flex;
  flex-direction: column;
  gap:1rem;
  margin: 5rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 430px) {
      flex-direction: column;
      gap:1rem
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: white;
    .table-container {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
      .pch-table{
        width: 100%;
        border: none;
        border-collapse:collapse;
        thead {
          user-select: none;
          background-color: #eeeded;
          color: var(--text-default-color);
          font-size: 0.8rem;
          th {
            padding: 1rem;
            border-bottom: 1px solid #eeeded;
          }
          th:nth-child(1){
            max-width: 120px;
          }

          th:nth-child(3){
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem
          }
        }

        tbody{
          td {
            padding: 1rem;
            border-bottom: 1px solid darkgray;
          }
        }
      }
    }
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .select-rows {
        padding: 0.4rem 0.8rem;
        border-color: var(--text-default-color);
        color: var(--text-default-color);
        border-radius: 3px;
      }
    }
  }

}

pch-context-menu{
  background-color: lightgray;
  color: var(--text-default-color);
  padding: 1rem;
  width: 100px;
}

