<section class="header">
  <pch-search (textChange)="onSearchChange($event)"/>
  <pch-button test-id="btn-add" variant="primary" (click)="handleAddProduct()">Agregar</pch-button>
</section>

<section class="container">
  <section class="table-container">
    <table class="pch-table">
      <thead>
      <tr>
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th>Descripción
          <pch-info-icon/>
        </th>
        <th>Fecha de liberación
          <pch-info-icon/>
        </th>
        <th>Fecha de reestructuración
          <pch-info-icon/>
        </th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody *ngIf="filteredProducts$ | withLoading | async as products">
        <ng-template [ngIf]="products.value">
          <tr *ngFor="let product of products.value">
            <td><pch-logo [src]="product.logo"/></td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.date_release | date: 'dd/MM/yyyy'}}</td>
            <td>{{product.date_revision | date: 'dd/MM/yyyy'}}</td>
            <td>
              <pch-menu-icon (click)="onContextMenuClick($event, product)"/>
            </td>
          </tr>
        </ng-template>
        <ng-template [ngIf]="products.error">
          <tr>
            <td colspan="6">
              Ocurrió un error obteniendo los productos
            </td>
          </tr>
        </ng-template>
        <ng-template [ngIf]="products.loading">
          <tr>
            <td colspan="6">
              <div class="centered">
                <span>Cargando...</span>
              </div>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </section>
  <section class="footer">
    <span>{{(filteredProducts$|async)?.length}} Resultado{{(filteredProducts$|async)?.length=== 1 ? '': 's'}}</span>

    <select class="select-rows" [ngModel]="rowsPerPage$ | async" (change)="onSelectChange($event)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
  </section>
</section>
<!---->
<pch-context-menu *ngIf="isShowedContextMenu" [ngStyle]="panelStyle" [contextMenuItems]="menuItems"
                  (onContextMenuItemClick)="handleMenuItemClicked($event)"
                  (mouseleave)="isShowedContextMenu = false" />

<pch-modal #modal (onConfirm)="handleConfirm($event)">
  <section *ngIf="isShowingErrorMessage" class="error-message">
    <p>{{errorMessage}}</p>
  </section>
  <p>¿Estás seguro de eliminar el producto {{currentProduct?.name}}?</p>
</pch-modal>

