<button test-id="button"
        class="button"
        [disabled]="disabled"
        (click)="onButtonClick()"
        [ngClass]="{'button-primary': variant === 'primary', 'button-danger': variant === 'danger'}">
  <ng-content></ng-content>
</button>
