.button {
  padding: 1rem 1.4rem;
  border-radius: 5px;
  color: var(--text-default-color);
  font-size: 12px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  letter-spacing: 0.4px;
}

.button:disabled{
  opacity: 0.6;
  cursor: auto;
}

.button-primary {
  background-color: var(--primary-color);
}

.button-danger {
  background-color: var(--danger-color);
  color: whitesmoke;
}
