.container {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 40%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .actions {
    border-top: 1px solid #888;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    pch-button {
      margin-top: 1rem;
    }
  }
}
