<div #myModal class="container">
  <div class="content">
    <ng-content>
    </ng-content>
    <section class="actions">
      <pch-button (onClick)="handleClose()">Cancelar</pch-button>
      <pch-button variant="primary" (onClick)="handleConfirm()">Confirmar</pch-button>
    </section>
  </div>
</div>
