:host {
  flex:1;
  width: 100%;

  .header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;

    .image-logo{
      width: 175px;
      height: 80px;
      margin-top: 1rem;
    }
  }
}
