.menu-icon-container {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pch-more-vertical-alt {
  transform: scale(var(--ggs,1))
}
.pch-more-vertical-alt,
.pch-more-vertical-alt::after,
.pch-more-vertical-alt::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 4px;
  height: 4px;
  background: currentColor;
  border-radius: 100%
}
.pch-more-vertical-alt::after,
.pch-more-vertical-alt::before {
  content: "";
  position: absolute
}
.pch-more-vertical-alt::after {
  left: 0;
  top: 6px
}
.pch-more-vertical-alt::before {
  top: -6px;
  right: 0
}
