<section class="card">
  <section class="card-title">
    <h3>Formulario de Edición</h3>
  </section>
  <hr/>
  <section *ngIf="errorMessage" class="error-message">
    <p>{{errorMessage}}</p>
  </section>
  <section class="card-body">
    <form [formGroup]="frmEdit" novalidate>
      <div class="form-control">
        <label for="txtId">ID</label>
        <input id="txtId" class="input-control"
               formControlName="id"/>
        <span
          *ngIf="(frmEdit.get('id')?.dirty || frmEdit.get('id')?.touched) && hasError(frmEdit,'id', ['required'])"
          class="error">El campo es requerido</span>
        <span
          *ngIf="(frmEdit.get('id')?.dirty || frmEdit.get('id')?.touched) && hasError(frmEdit, 'id', [ 'idAlreadyExists', 'minlength', 'maxlength'])"
          class="error">ID no válido!</span>
      </div>
      <div class="form-control">
        <label for="txtName">Nombre</label>
        <input id="txtName" class="input-control" formControlName="name"/>
        <span
          *ngIf="(frmEdit.get('name')?.dirty || frmEdit.get('name')?.touched) && hasError(frmEdit,'name', ['required'])"
          class="error">El campo es requerido</span>
        <span
          *ngIf="(frmEdit.get('name')?.dirty || frmEdit.get('name')?.touched) && hasError(frmEdit,'name', ['minlength'])"
          class="error">El campo es debe tener un mínimo de 5 caracteres</span>
        <span
          *ngIf="(frmEdit.get('name')?.dirty || frmEdit.get('name')?.touched) && hasError(frmEdit,'name', ['maxlength'])"
          class="error">El campo es debe tener un máximo de 100 caracteres</span>
      </div>
      <div class="form-control">
        <label for="txtDescription">Descripción</label>
        <input id="txtDescription" class="input-control" formControlName="description"/>
        <span
          *ngIf="(frmEdit.get('description')?.dirty || frmEdit.get('description')?.touched) && hasError(frmEdit,'description', ['required'])"
          class="error">El campo es requerido</span>
        <span
          *ngIf="(frmEdit.get('description')?.dirty || frmEdit.get('description')?.touched) && hasError(frmEdit,'description', ['minlength'])"
          class="error">El campo es debe tener un mínimo de 10 caracteres</span>
        <span
          *ngIf="(frmEdit.get('description')?.dirty || frmEdit.get('description')?.touched) && hasError(frmEdit,'description', ['maxlength'])"
          class="error">El campo es debe tener un máximo de 200 caracteres</span>
      </div>
      <div class="form-control">
        <label for="txtLogo">Logo</label>
        <input id="txtLogo" class="input-control" formControlName="logo"/>
        <span
          *ngIf="(frmEdit.get('logo')?.dirty || frmEdit.get('logo')?.touched) && hasError(frmEdit,'logo', ['required'])"
          class="error">{{errorMessage}}</span>
      </div>
      <div class="form-control">
        <label for="txtDateRelease">Fecha de liberación</label>
        <input id="txtDateRelease" type="date" class="date-control" formControlName="date_release"
               (change)="handleReleaseDateChange()"/>
        <span
          *ngIf="(frmEdit.get('date_release')?.dirty || frmEdit.get('date_release')?.touched) && hasError(frmEdit,'date_release', ['required'])"
          class="error">El campo es requerido</span>
        <span
          *ngIf="(frmEdit.get('date_release')?.dirty || frmEdit.get('date_release')?.touched) && hasError(frmEdit,'date_release', ['incorrectDate'])"
          class="error">La fecha de liberación deberá ser igual o posterior a la fecha actual.</span>
      </div>
      <div class="form-control">
        <label for="txtDateRevision">Fecha de revisión</label>
        <input id="txtDateRevision" type="date" class="date-control" formControlName="date_revision"/>
      </div>

      <div class="buttons">
        <pch-button variant="primary" [disabled]="frmEdit.invalid || isPending" (onClick)="handleSave()">Enviar</pch-button>
      </div>
    </form>
  </section>
</section>
