:host{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  .card {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    width: 600px;
    max-width: 600px;

    .card-title{
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      h3{
        font-weight: bold;
        font-size: 1.8rem;
        user-select: none;
      }
    }

    .error-message{
      background-color: rgba(231, 13, 13, 0.34);
      padding: 1rem;
      p{
        color:red;
        font-size: 0.6rem;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
