:host{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  .card {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 600px;
    max-width: 600px;

    .card-title{
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      h3{
        font-weight: bold;
        font-size: 1.8rem;
        user-select: none;
      }
    }

  }
}
