.info {
  display: inline-block;
  padding: 0px 3px 3px 3px;
  color: #ffffff;
  font-size: 10px;
  border-radius: 50%;
  background-color: darkgray;
  border: solid 3px darkgray;
  width: 15px;
  height: 15px;
  font-weight: bold;
  text-align: center;
}
