/**
  Global styles
  Reset styles
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  font-family: Poppins, 'sans-serif';
}

:root {
  --primary-color: #FFDC00;
  --text-default-color: #262626;
  --text-primary-color: #0F265C;
  --danger-color: #a11414;
}

body {
  background-color: whitesmoke;
}

.centered {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message{
  background-color: rgba(231, 13, 13, 0.34);
  padding: 1rem;
  p{
    color:red;
    font-size: 0.6rem;
    font-weight: bold;
    text-align: center;
  }
}

.card-body {
  color: var(--text-default-color);
  width: 100%;
  padding: 1rem;
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, minmax(auto, 1fr));

    @media screen and (max-width: 430px) {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .form-control {
      label {
        font-size: 0.9rem;
        font-weight: 500;
      }
      input {
        padding: 0.6rem;
        border-radius: 4px;
        border: 1px solid var(--text-default-color);
      }

      .invalid {
        border: 1px solid red;
      }

      margin: 0.5rem;
      display: flex;
      flex-direction: column;
      .error {
        color: red;
        font-size: 0.8rem;
        font-weight: 500;
      }
    }

    .buttons{
      grid-column: 1 / 3;
      grid-row: 4/ 5;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;

    }
  }
}
